@tailwind base;

@layer base {
  h1 {
    @apply sm:text-4xl text-4xl font-bold py-4 text-gray-900;
  }
  h2 {
    @apply sm:text-3xl text-3xl font-bold py-4 text-gray-900;
  }
  h3 {
    @apply sm:text-2xl text-2xl font-bold py-4 text-gray-900;
  }
  a {
    @apply text-blue-600 underline;
  }
}


@tailwind components;
@tailwind utilities;

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

